:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --orange-color: #fb6445;
}

*{
    box-sizing: inherit;
    margin: 0;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width{
    display: flex;
    flex-wrap: wrap;
}