
/*------------------Start Header-----------------*/

.header {
    height    : var(--header-height);
    position  : fixed;
    top       : 0;
    width: 100%;
    z-index   : 99;
    box-shadow: 0px 0px 5px var(--text-color);
}

.header.header--bgLinear {
    background: linear-gradient(-180deg, #f53d2d, #f63);
}

.header__navbar {
    height: var(--navbar-height);
    display        : flex;
    justify-content: space-between;
}

.header__navbar-list {
    padding-left: 0px;
}

.header__navbar-item {
    padding : 0 8px;
    position: relative;
    top     : 0;
}

.header__navbar-item:hover,
.header__navbar-item>a:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
    color : rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item,
.header__navbar-item>a,
.header__navbar-item-link,
.header__navbar-icon-link {
    display        : inline-block;
    text-decoration: none;
    font-size      : 1.4rem;
    line-height    : 3.4rem;
    font-weight    : 300;
    color          : var(--white-color);
}

.header__navbar-item--bold {
    font-weight: 500 !important;
}

.header__navbar-item--qr:hover .header__qr {
    display: block;
}

.header__navbar-item--notify:hover .header__notify {
    display: block;
}

.header__navbar-item--separate::after {
    content    : '';
    display    : block;
    position   : absolute;
    height     : 13px;
    top        : 50%;
    right      : 0;
    transform  : translateY(-50%);
    border-left: 1px solid rgb(212, 209, 209);
}

.header__navbar-icon {
    font-size      : 1.5rem;
    text-decoration: none;
    margin         : 0 4px;
}

.header__navbar-item--no-pointer {
    cursor: text;
    color : var(--white-color);
}


/*-------------- QR code ----------------*/
.header__qr {
    position        : absolute;
    top             : calc(100% + 10px);
    left            : 0;
    width           : 186px;
    background-color: var(--white-color);
    border-radius   : 3px;
    display         : none;
    box-shadow      : 0px 1px 5px #999;
    animation       : fadeIn linear .3s;
}

.header__qr::before {
    content : "";
    position: absolute;
    top     : -4%;
    width   : 100%;
    height  : 18%;
}

.header__qr-img {
    object-fit   : cover;
    width        : 100%;
    border-radius: 3px;
}

.header__qr-apps {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    margin         : 18px 0px 10px
}

.header__qr-link {
    width: 48%;
}

.header__qr-link:first-child {
    margin-left : 11px;
    margin-right: 4px;
}

.header__qr-link:last-child {
    margin-right: 11px;
    margin-left : 4px;
}

.header__qr-dowload {
    object-fit: cover;
    width     : 100%;
}


/*---------------- Notify --------------*/
.header__navbar-item--notify {
    position: relative;
    top     : 0;
    left    : 0;
}

.header__notify {
    width           : 400px;
    position        : absolute;
    top             : calc(100% + 15px);
    right           : 0;
    background-color: var(--white-color);
    box-shadow      : 0px 1px 5px rgba(94, 93, 93, 0.7);
    cursor          : default;
    display         : none;
    transform-origin: 90% top;
    animation       : header__notifyGrow linear .3s;
    border-radius   : 3px;
}

@keyframes header__notifyGrow {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(45deg);
    }
}

.header__notify::before {
    content         : "";
    height          : 20px;
    width           : 20px;
    transform       : rotate(45deg);
    background-color: var(--white-color);
    position        : absolute;
    top             : -4px;
    right           : 15px;
}

.header__notify::after {
    content : "";
    width   : 100%;
    height  : 20px;
    position: absolute;
    top     : -20px;
    right   : 0;
}

.header__notify-content {
    height         : 312px;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
}

.header__notify-img {
    height: 100px;
    width : 100px;
}

.header__notify-title {
    color    : var(--black-color);
    font-size: 1.4rem;
}

.header__notify-control {
    display: flex;
}

.header__notify-control>a {
    display         : block;
    width           : 50%;
    background-color: #d8d6d6;
    color           : var(--black-color);
    text-decoration : none;
    text-align      : center;
    font-weight     : 400;
}

.header__notify-control>.btn:hover {
    color           : var(--text-colorOrange);
    background-color: #e8e8e8;
    transition      : linear .3s;
}


/*---------- Header__search ------------*/
.header__search {
    height: var(--header-width-search);
}

.header__search-logo {
    display: block;
    height: var(--header-width-search);
}

.header__search-img {
    object-fit: cover;
    height: var(--header-width-search);
    width: 100%;
    padding-left : 8px;
}

.header__search-bar{
    height: var(--header-width-search);
    display: flex !important;
    flex-direction: column;
    justify-content: center;
}

.header__search-bar-top {
    background-color: var(--white-color);
    padding         : 3px;
    display         : flex;
    flex-wrap       : wrap;
    border-radius   : 2px;
}

.header__search-input {
    flex     : 1;
    outline  : none;
    border   : 0;
    font-size: 1.4rem;
    padding  : 8px;
    color    : var(--text-color);
}

.header__search-btn {
    height          : 34px;
    min-width       : 60px;
    display         : block;
    outline         : none;
    border          : 0px;
    padding         : 0px 15px;
    background-color: #fb6445;
    cursor          : pointer;
}

.header__search-btn:hover {
    opacity: 0.9;
}

.header__search-btn-icon {
    font-size  : 15px;
    color      : var(--white-color);
}

.header__search-filter {
    display   : flex;
    list-style: none;
    padding   : 0px;
    margin-top: 5px;
}

.header__search-filter>li>a {
    text-decoration: none;
    font-size      : 1.2rem;
    color          : var(--white-color);
    margin-right   : 1.3rem;
}

.header__search-cart{
    height: 100%;
    display        : flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header__search-cart-icon {
    color    : var(--white-color);
    font-size: 2.5rem;
}

/*--------------------- Responsive ---------------------*/
/* Mobile & tablet */
@media (max-width: 1023px) {
    :root{
        --header-height: 70px;
        --navbar-height: 0px;
    }
    .hide-on-mobile-tablet{
        display: none;
    } 

    .header__search-cart{
        justify-content: flex-end;
    }
}

/* Tablet  */
@media (min-width: 740px) and (max-width: 1023px){
    .hide-on-tablet{
        display: none;
    }

    .header__search-cart{
        justify-content: flex-end;
    }
}

/* Mobile */
@media (max-width: 739px){
    .hide-on-mobile{
        display: none;
    }

    .header__search-cart-icon{
        margin-right: 20px;
    }

}