/*Import*/
@import url(./header.css);
@import url(./footer.css);


body {
    background: #f5f5f5;
}

/*-------------Container-----------*/

.container {
    margin-top   : 150px;
    margin-bottom: 70px;
    background   : url("https://cf.shopee.vn/file/1c3ed3868e30927512fc02b3e75840f2") center top /100% no-repeat;
}


/* ---------------------Product----------------------*/

.product {}

.product__suggest {
    background-color: var(--white-color);
    box-shadow      : 0 1px 1px 0 rgb(0 0 0 / 5%);
    margin-bottom   : 10px;
    position        : sticky;
    top             : 120px;
    right           : 0;
    left            : 0;
    display         : flex;
    align-items     : center;
    height          : 60px;
    z-index         : 2;
}

.product__suggest-tab {
    display       : inline-block;
    height        : 100%;
    font-size     : 1.6rem;
    font-weight   : 300;
    text-transform: uppercase;
    color         : var(--text-colorOrange);
    line-height   : 3rem;
    padding       : 15px 45px;
}

.product__suggest-tab--active {
    border-bottom: 4px solid var(--text-colorOrange);
}

.product__suggest-tab a {
    display: block;
    height : 20px;
}

.product__suggest-tab-img {
    object-fit    : cover;
    height        : 100%;
    vertical-align: middle;
}

.product-items {
    background     : var(--white-color);
    text-decoration: none;
    display        : flex;
    flex-direction : column;
    height         : 300px;
    max-height     : 100%;
    position       : relative;
    top            : 0;
    left           : 0;
    border-radius  : 3px;
    margin-bottom  : 10px;
    box-shadow     : 0px 1px 2px rgba(0, 0, 0, 0.1);
    z-index        : 1;
}


/* .product-items-footer{
    opacity: 0;
    position: absolute;
    left: -0.125rem;
    top: calc(100% - 0.125rem);
    width: 100%;
    height: 2.5rem;
    background-color: #ee4d2d;
    color: #fff;
    text-align: center;
    line-height: 2.5rem;
    border: 1px solid #ee4d2d;
    border-bottom-left-radius: 0.125rem;
    border-bottom-right-radius: 0.125rem;
} */


/* .product-items:hover .product-items-footer{
    opacity: 1;
} */

.product-items:hover {
    border   : 1px solid #ee4d2d;
    transform: translateY(-2px);
}

.product-items__favorite {
    position  : absolute;
    top       : 14px;
    left      : -4px;
    background: var(--text-colorOrange);
    color     : var(--white-color);
    padding   : 0px 4px;
}

.product-items__favorite::after {
    content       : "";
    border-top    : 0.4rem solid var(--text-colorOrange);
    border-left   : 0.4rem solid transparent;
    -webkit-filter: brightness(60%);
    filter        : brightness(60%);
    position      : absolute;
    bottom        : -4px;
    left          : 0;
}

.product-items__sale {
    position     : absolute;
    top          : 0;
    right        : 0;
    background   : #ffd839;
    width        : 36px;
    height       : 32px;
    text-align   : center;
    font-size    : 1.2rem;
    color        : var(--white-color);
    padding      : 2px;
    border-radius: 0px 3px 0px 0px;
}

.product-items__sale>span {
    text-transform: uppercase;
}

.product-items__sale::after {
    content          : "";
    border-bottom    : 0.4rem solid transparent;
    border-left      : 1.8rem solid #ffd839;
    border-right     : 1.8rem solid #ffd839;
    /* -webkit-filter: brightness(60%);
    filter           : brightness(60%); */
    position         : absolute;
    bottom           : -4px;
    left             : 0;
}

.product-items__sale-precent {
    color: var(--text-colorOrange);
}

.product-items__img {
    width        : 100%;
    padding-top  : 100%;
    border-radius: 3px 3px 0px 0px;
}

.product-items__content {
    display       : flex;
    flex-direction: column;
    flex          : 1;
    padding       : 10px;
    border-radius : 0px 0px 2px 2px;
}

.product-items__heading {
    font-size         : 12px;
    font-weight       : 300;
    line-height       : 1.8rem;
    height            : 3.6rem;
    color             : var(--text-color);
    word-wrap         : break-word;
    overflow          : hidden;
    display           : block;
    display           : -webkit-box;
    text-overflow     : ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.product-items__tickets {
    margin-top  : auto;
    margin-right: auto;
    flex-shrink : 0;
    padding     : 0px 4px;
}

.product-items__bottom {
    display        : flex;
    align-items    : baseline;
    justify-content: space-between;
    padding-top    : 0.5rem;
    margin-top     : auto;
}

.product-items__price {
    font-size  : 1.6rem;
    color      : var(--text-colorOrange);
    display    : flex;
    align-items: center;
}

.product-items__price>span {
    font-size      : 1rem;
    text-decoration: underline;
}

.product-items__sold {
    font-size: 1.2rem;
    opacity  : 0.8;
}

.btn_learn-more {
    background   : var(--white-color);
    border       : 1px solid rgba(0, 0, 0, .09);
    box-shadow   : 0 1px 1px 0 rgb(0 0 0 / 3%);
    border-radius: 3px;
    height       : 40px;
    width        : 390px;
    max-width    : 100%;
    margin       : 22px auto 0;
    font-size    : 1.4rem;
}

.btn_learn-more:hover {
    background-color: rgba(0, 0, 0, 0.01);
    transition      : linear .3s;
}